
/* Accordions */

.accordion {
	margin-bottom: var(--spacing-4);
	padding-bottom: var(--spacing-2);
	border-bottom: var(--border-light);
}

.accordion .accordion-bar .accordion-activator {
	cursor: pointer;
	color: var(--grey-dark);
	text-transform: uppercase;
}
.accordion .accordion-bar::before {
	content: "";
	font-family: FontAwesome;
	font-weight: bold;
	font-size: var(--font-xs);
	color: var(--grey-mid);
	margin-right: var(--spacing-2);
	position: relative;
	top: -3px;
	left: 2px;
	transition: rotate 0.5s ease-in-out;
}

.accordion-content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s ease-in-out;
	padding-left: var(--spacing-4);
	box-sizing: border-box;
}

.accordion.active .accordion-content {
	max-height: 1000px;
}

.accordion.active .accordion-bar:before {
	transform: rotate(90deg);
}

/* Talents overrides */
.aegean .talents .accordion-bar {
	display: flex;
	align-items: center;
}
.aegean .talents .accordion-bar .action-bar {
	flex-grow: 2;
	margin-left: var(--spacing-2);
	display: flex;
	justify-content: flex-end;
}
.aegean .talents .accordion-bar .action-bar .action-bar-label {
	font-size: var(--font-sm);
	text-transform: uppercase;
	color: var(--grey-mid);
	font-weight: normal;
}
.aegean .talents .accordion-bar .action {
	float: right;
}

