
/* Actions */

.aegean .action {
	display: inline-block;
	padding: var(--spacing-1) var(--spacing-2);
	cursor: pointer;
	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	border: 1px solid var(--base-bg);
	border-radius: var(--border-radius);
}
.aegean .action:hover {
	background-color: var(--grey-light);
	border-color: var(--grey-mid);
}

.aegean .action.disabled {
	cursor: default;
	color: var(--grey-mid);
}
.aegean .action.disabled:hover {
	background-color: var(--base-bg);
	border-color: var(--base-bg);
}

.action .text {
	font-size: var(--font-sm);
}

/* Action bar */
.aegean .action-bar .chip {
	margin-top: var(--spacing-1);
}

/* Dice roll action and combat actions */
.aegean .action.roll, .aegean .combat-actions .action {
	border-color: var(--grey-mid);
	background-color: var(--grey-light);
	margin-top: var(--spacing-4);
	display: block;
	text-align: center;
	padding: var(--spacing-2) var(--spacing-4);
}
.aegean .action.roll .text {
	font-size: var(--font-mid);
}

.aegean .action.roll:hover, .aegean .combat-actions .action:hover {
	color: var(--invert-fg);
	background-color: var(--invert-bg);
	border-color: black;
}

.aegean .combat-actions .action {
	display: inline-block;
	padding: var(--spacing-1) var(--spacing-2);
}