
/* Character sheet */
.aegean .character-sheet {
	background-color: white;
}

.aegean .character-sheet .character-info {
	display: grid;
	gap: var(--spacing-4);
	grid-template-columns: 200px auto;
	margin-bottom: var(--spacing-2);
}

.aegean .character-sheet .character-portrait {
	background-color: var(--grey-light);
}

.aegean .character-stats .column-panel aside h3 {
	margin-top: var(--spacing-8);
}

.aegean .character-sheet .symbols {
	margin-top: var(--spacing-4);
}

/* Talents overrides */
.aegean .character-sheet .accordion-bar {
	display: flex;
	align-items: center;
}
.aegean .character-sheet .accordion-bar .action-bar {
	flex-grow: 2;
	margin-left: var(--spacing-2);
}
.aegean .character-sheet .accordion-bar .action {
	float: right;
}
