
/* Inputs */

.aegean input[type=text], .aegean input[type=number] {
	border: 0;
	border-radius: 0;
	background-color: transparent;
	display: block;
	width: 100%;
}
.aegean input[type=text]:hover {
	background-color: var(--input-hover-bg);
}
.aegean input[type=text]:focus {
	background-color: var(--input-hover-bg);
	outline: var(--input-focus-border);
	box-shadow: none;
}
.aegean input[type=text][readonly]:hover {
	background-color: transparent;
	cursor: default;
}

.aegean label.label {
	display: block;
	margin-top: var(--spacing-2);
	margin-right: var(--spacing-2);
	text-transform: uppercase;
	font-weight: bold;
	font-size: var(--font-mid);
}

/* Box input */
.aegean .box-input {
	border: var(--border);
}
.aegean .box-input:has(span) {
	display: grid;
	grid-template-columns: 1fr 10px 1fr;
}
.aegean .box-input label {
	text-transform: uppercase;
	background-color: var(--invert-bg);
	color: var(--invert-fg);
	display: block;
	padding: var(--spacing-1);
	text-align: center;
	line-height: 1;
	font-size: var(--font-md);
	max-height: 20px;
	grid-column-start: 1;
	grid-column-end: 4;
}
.aegean .box-input input[type=text] {
	font-size: 30px;
	text-align: center;
	display: block;
	padding-top: var(--spacing-1);
	padding-bottom: var(--spacing-1);
	height: auto;
}
.aegean .box-input span, .aegean .box-input small {
	display: inline-block;
	font-size: 24px;
	text-align: center;
	color: var(--grey-500);
	padding-top: var(--spacing-2);
}
.aegean .box-input small {
	font-size: 16px;
	padding-top: var(--spacing-3);
}

/* Form input */
.aegean .form-input {
	display: flex;
	padding: var(--spacing-2) 0;
}

.aegean .form-input input[type=text], .aegean .form-input input[type=number] {
	border-bottom: var(--border);
	padding: var(--spacing-1) var(--spacing-2) 0;
}

/* Select and multi select inputs */
.aegean select {
	background-color: var(--base-bg);
	color: var(--base-fg);
	border: var(--border);
}
.aegean .select-input select {
	display: block;
	width: 100%;
}
.aegean .multi-select-input select, .aegean .multi-select-input input {
	margin-right: var(--spacing-2);
}
.aegean .multi-input-display li {
	display: grid;
	grid-template-columns: auto 30px;
	align-items: center;
}

/* Skill input */
.aegean .skill-input {
	grid-template-columns: 300px auto;
}

.aegean .skill {
	display: flex;
}
.aegean .skill label {
	display: block;
	margin-top: var(--spacing-2);
	margin-right: var(--spacing);
	font-weight: bold;
	font-size: var(--font-mid);
	position: relative;
	top: var(--spacing-1);
}
.aegean .skill input[type=text] {
	border-bottom: 1px solid black;
	padding: var(--spacing-1) var(--spacing-2) 0;
	text-align: right;
}
.aegean ul.specialisations {
	list-style-type: none;
	margin: var(--spacing-1) 0 0 0;
	padding: 0;
}
.aegean ul.specialisations li {
	display: inline-block;
	padding: var(--spacing) var(--spacing-1);
	margin-right: var(--spacing-1);
	background-color: var(--grey-light);
	border-radius: var(--border-radius);
}
.aegean ul.specialisations li:last-child {
	margin-right: 0;
}

/* Light bordered inputs used for property ratings, damage value etc */
.aegean input.bordered-input {
	max-width: 30px;
	text-align: right !important;
	display: inline-block;
	border: var(--border-light);
	border-radius: var(--border-radius);
}

/* Built-in editor */
.aegean .editor {
	margin-bottom: var(--spacing-1);
	min-height: 50px;
}
.aegean .tox {
	min-height: 150px;
}
