
/* Tabs */

/* Panel */
.aegean .tab-panel {
	padding-top: var(--spacing-4);
	padding-bottom: var(--spacing-4);
	display: none;
	width: 100%;
	border-top: var(--border);
	order: 99;
}

/* Group */
.aegean .tab-group {
	display: flex;
	flex-wrap: wrap;
}

/* Activator */
.aegean .tab-item {
	color: var(--grey-dark);
	cursor: pointer;
	display: inline-block;
	font-size: var(--font-sm);
	padding: var(--spacing-2) var(--spacing-4);
	text-align: center;
	text-transform: uppercase;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.aegean .tab-item:hover {
	background-color: var(--grey-light);
	color: var(--base-fg);
}

.aegean .tab-group input[type=radio] {
	display: none;
}

.aegean .tab-group input[type=radio]:checked + .tab-item {
	background-color: var(--invert-bg);
	color: var(--invert-fg);
}

.aegean .tab-group input[type=radio]:checked + .tab-item + .tab-panel {
	display: block;
}
