<div class="roll-dialog">
	{{> systems/aegean/templates/partials/value-select.hbs
		label="aegean.system.Characteristic"
		name="characteristics"
		options=config.characteristics
	}}
	{{> systems/aegean/templates/partials/value-select.hbs
		label="aegean.system.Skill"
		name="skills"
		options=config.skills
	}}
	<div class="multi-select-input">
		<div class="select-input form-input">
			<label class="label" for="modifiers">{{ localize "aegean.system.Modifiers" }}</label>
			<input type="number" class="value-text" name="modifiers" id="modifiers" />
			<strong class="chip" chip id="modifiers_value" data-value="0">0D</strong>
		</div>
	</div>
</div>
