<div class="accordion">
	<input type="checkbox" id="{{ id }}" />
	<div class="accordion-activator">
		<label for="{{ id }}">{{ localize label }}</label>
	</div>
	<div class="accordion-content">
		{{> @partial-block }}
	</div>
</div>
