<input type="radio" id="{{ id }}" name="{{ group }}" {{#if checked}}checked{{/if}} />
<label class="tab-item" for="{{ id }}">{{ localize label }}</label>
<section class="tab-panel">
	{{> @partial-block }}
</section>
