<div class="equipment">
	{{#if displayTitle}}<h2><span>{{ localize "aegean.system.Equipment" }}</span></h2>{{/if}}

	<div class="grid column-panel">
		<div>
			{{> systems/aegean/templates/partials/select-input.hbs
				label=system.equipment.Availability.label
				value=system.equipment.Availability.value
				name="system.equipment.Availability.value"
				options=config.availability
			}}

			<p class="note">{{ localize "aegean.equipment.AvailabilityNote" }}</p>
		</div>
		<aside>
			{{> systems/aegean/templates/partials/box-input.hbs
				label=system.equipment.Weight.label
				value=system.equipment.Weight.value
				name="system.equipment.Weight.value"
			}}

			{{> systems/aegean/templates/partials/box-input.hbs
				label=system.equipment.Price.label
				value=system.equipment.Price.value
				name="system.equipment.Price.value"
			}}
		</aside>
	</div>
</div>