<div class="background grid grid-cols-2">
	<div>
		{{> systems/aegean/templates/partials/select-input.hbs
			label=system.background.Heritage.label
			value=system.background.Heritage.value
			name="system.background.Heritage.value"
			options=config.heritages
		}}

		{{#if system.hasDivineHeritage}}
			{{> systems/aegean/templates/partials/select-input.hbs
				label=system.background.Parent.label
				value=system.background.Parent.value
				name="system.background.Parent.value"
				options=config.parents
			}}
		{{/if}}

		{{> systems/aegean/templates/partials/select-input.hbs
			label=system.background.Background.label
			value=system.background.Background.value
			name="system.background.Background.value"
			options=config.backgrounds
		}}

		<!-- multi-select-input
			:label="system.background.Careers.label"
			:items="careers"
			v-model="system.background.Careers.value"
		/>
		<multi-select-input
			:label="system.background.MysteryCults.label"
			:items="mysteryCults"
			v-model="system.background.MysteryCults.value"
		/ -->
	</div>
	<div>
		<!-- div class="boxed">
			<h3>Relationships</h3>
			<div
				v-for="(relationship, idx) in system.relationships"
				:key="`relationship_${idx}`"
			>
				{{ relationship.name }}
			</div>
		</div>
		Favour
		Disfavour
	</div -->
</div>
