<div class="character-stats">
	<h2><span>{{ localize "aegean.system.Characteristics" }}</span></h2>
	<div class="grid grid-cols-5">
		{{#each system.characteristics as |ch key|}}
			{{> systems/aegean/templates/partials/box-input.hbs
				label=ch.label
				value=ch.value
				name=(concat "system.characteristics." key ".value")
			}}
		{{/each}}
	</div>
	<div class="grid column-panel">
		<div class="skills">
			<h3>{{ localize "aegean.system.Skills" }}</h3>
			{{#each system.skills as |skill key|}}
				{{> systems/aegean/templates/partials/skill-input.hbs
					label=skill.label
					value=skill.value
					name=(concat "system.skills." key ".value")
				}}
			{{/each}}
		</div>
		<aside>
			<h3>{{ localize "aegean.system.Attributes" }}</h3>
			{{> systems/aegean/templates/partials/box-input.hbs
				label=system.attributes.Glory.label
				value=system.attributes.Glory.value
				name="system.attributes.Glory.value"
			}}
			{{> systems/aegean/templates/partials/box-input.hbs
				label=system.attributes.Hubris.label
				value=system.attributes.Hubris.value
				name="system.attributes.Hubris.value"
			}}
			{{> systems/aegean/templates/partials/box-input.hbs
				label=system.attributes.XP.label
				value=system.attributes.XP.value
				name="system.attributes.XP.value"
			}}
			{{> systems/aegean/templates/partials/box-input.hbs
				label=system.attributes.Scars.label
				value=system.attributes.Scars.value
				name="system.attributes.Scars.value"
			}}
		</aside>
	</div>
</div>