<header class="character-info">
	<div>
		<img class="character-portrait" src="{{ actor.img }}" />
	</div>
	<div>
		<!-- TODO Aegean Logo -->
		{{> systems/aegean/templates/partials/form-input.hbs
			label="aegean.character.Character"
			value=actor.name
			name="name"
		}}
		<div class="grid grid-cols-4">
			{{> systems/aegean/templates/partials/box-input.hbs
				label=system.attributes.Standing.label
				value=system.attributes.Standing.value
				name="system.attributes.Standing.value"
			}}
			{{> systems/aegean/templates/partials/box-input.hbs
				label=system.attributes.Endurance.label
				value=system.attributes.Endurance.value
				name="system.attributes.Endurance.value"
			}}
			{{> systems/aegean/templates/partials/box-input.hbs
				label=system.attributes.Resolve.label
				value=system.attributes.Resolve.value
				name="system.attributes.Resolve.value"
			}}
			{{> systems/aegean/templates/partials/box-input.hbs
				label=system.attributes.Oracle.label
				value=system.attributes.Oracle.value
				name="system.attributes.Oracle.value"
			}}
		</div>
	</div>
</header>
