<header class="character-info">
	<div>
		<img class="character-portrait" src="{{ actor.img }}" />
	</div>
	<div>
		<!-- TODO Aegean Logo -->
		{{> systems/aegean/templates/partials/form-input.hbs
			label="aegean.character.Character"
			value=actor.name
			name="name"
		}}
		<div class="grid grid-cols-3-1-split">
			{{> systems/aegean/templates/actor/partials/risk.hbs}}

			<div>
				{{> systems/aegean/templates/partials/box-input.hbs
					label=system.attributes.Resolve.label
					value=system.attributes.Resolve.value
					name="system.attributes.Resolve.value"
				}}
				{{> systems/aegean/templates/partials/box-input.hbs
					label=system.attributes.Oracle.label
					value=system.attributes.Oracle.value
					name="system.attributes.Oracle.value"
				}}

				{{> systems/aegean/templates/partials/action.hbs action="roll" icon="fa-dice-d10" text="aegean.ui.Roll"}}
			</div>
		</div>
	</div>
</header>
