<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
	<article class="character-sheet">
		{{> systems/aegean/templates/actor/partials/header-section.hbs }}

		<div class="tab-group">
			{{#> systems/aegean/templates/partials/tab-panel.hbs
				id="aegean.ui.Stats"
				label="aegean.ui.Stats"
				group="tab_character_stats"
				checked=true
			}}
				{{> systems/aegean/templates/actor/partials/character-stats.hbs }}
			{{/systems/aegean/templates/partials/tab-panel.hbs }}

			{{#> systems/aegean/templates/partials/tab-panel.hbs
				id="aegean.ui.Combat"
				label="aegean.ui.Combat"
				group="tab_character_stats"
			}}
				Combat				
			{{/systems/aegean/templates/partials/tab-panel.hbs }}

			{{#> systems/aegean/templates/partials/tab-panel.hbs
				id="aegean.system.Equipment"
				label="aegean.system.Equipment"
				group="tab_character_stats"
			}}
				{{> systems/aegean/templates/actor/partials/equipment.hbs }}
			{{/systems/aegean/templates/partials/tab-panel.hbs }}

			{{#> systems/aegean/templates/partials/tab-panel.hbs
				id="aegean.ui.Talents"
				label="aegean.ui.Talents"
				group="tab_character_stats"
			}}
				{{> systems/aegean/templates/actor/partials/talents.hbs }}
			{{/systems/aegean/templates/partials/tab-panel.hbs }}

			{{#> systems/aegean/templates/partials/tab-panel.hbs
				id="aegean.ui.Background"
				label="aegean.ui.Background"
				group="tab_character_stats"
			}}
				{{> systems/aegean/templates/actor/partials/background.hbs }}
			{{/systems/aegean/templates/partials/tab-panel.hbs }}
		</div>
	</article>
</form>
