<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
	<article class="character-sheet">
		{{> systems/aegean/templates/actor/partials/header-section.hbs title="TYPES.Actor.character" }}

		<div class="tab-group">
			<!-- stats -->
			{{#> systems/aegean/templates/partials/tab-panel.hbs
				id="character_stats"
				label="aegean.ui.Stats"
			}}
				{{> systems/aegean/templates/actor/partials/character-stats.hbs }}
			{{/systems/aegean/templates/partials/tab-panel.hbs }}
			<!-- combat -->
			{{#> systems/aegean/templates/partials/tab-panel.hbs
				id="character_combat"
				label="aegean.ui.Combat"
			}}
				{{> systems/aegean/templates/actor/partials/combat.hbs }}
			{{/systems/aegean/templates/partials/tab-panel.hbs }}
			<!-- equipment -->
			{{#> systems/aegean/templates/partials/tab-panel.hbs
				id="character_equipment"
				label="aegean.system.Equipment"
				count=equipment.length
			}}
				{{> systems/aegean/templates/actor/partials/equipment.hbs }}
			{{/systems/aegean/templates/partials/tab-panel.hbs }}
			<!-- talents -->
			{{#if talents}}
				{{#> systems/aegean/templates/partials/tab-panel.hbs
					id="character_talents"
					label="aegean.system.Talents"
					count=talents.length
				}}
					{{> systems/aegean/templates/actor/partials/talents.hbs }}
				{{/systems/aegean/templates/partials/tab-panel.hbs }}
			{{/if}}
			<!-- the gods -->
			{{#if gods}}
				{{#> systems/aegean/templates/partials/tab-panel.hbs
					id="character_deities"
					label="aegean.ui.TheGods"
					count=gods.length
				}}
					{{> systems/aegean/templates/actor/partials/the-gods.hbs }}
				{{/systems/aegean/templates/partials/tab-panel.hbs }}
			{{/if}}
			<!-- background -->
			{{#> systems/aegean/templates/partials/tab-panel.hbs
				id="character_background"
				label="aegean.ui.Background"
			}}
				{{> systems/aegean/templates/actor/partials/background.hbs }}
			{{/systems/aegean/templates/partials/tab-panel.hbs }}
		</div>
	</article>
</form>
