<div class="roll-dialog">
	{{> systems/aegean/templates/partials/value-text.hbs
		label="aegean.system.Characteristic"
		name="characteristic"
		readonly=true
	}}
	{{> systems/aegean/templates/partials/value-text.hbs
		label="aegean.system.Skill"
		name="skill"
		readonly=true
	}}
	{{> systems/aegean/templates/partials/value-select.hbs
		label="aegean.system.Specialisation"
		name="specialisation"
	}}
	{{> systems/aegean/templates/partials/value-text.hbs
		label="aegean.system.Modifiers"
		name="modifier"
		type="number"
	}}
	{{#if flags.vulnerable}}
		<div class="mb-4"><span class="chip danger">{{ localize "aegean.system.Vulnerable" }} +1D</span></div>
	{{/if}}
</div>
