<div class="roll-dialog">
	{{> systems/aegean/templates/partials/value-select.hbs
		label="aegean.system.Characteristic"
		name="characteristic"
		options=config.characteristics
	}}
	{{> systems/aegean/templates/partials/value-select.hbs
		label="aegean.system.Skill"
		name="skill"
		options=config.skills
	}}
	{{#if (isPC actor)}}
		{{> systems/aegean/templates/partials/value-select.hbs
			label="aegean.system.Specialisation"
			name="specialisation"
		}}
	{{/if}}
	{{> systems/aegean/templates/partials/value-text.hbs
		label="aegean.system.Modifiers"
		name="modifier"
		type="number"
	}}
	{{#if flags.vulnerable}}
		<div><span class="chip danger">{{ localize "aegean.system.Vulnerable" }} +1D</span></div>
	{{/if}}
	{{> systems/aegean/templates/partials/difficulty-select.hbs}}
</div>
