<div class="aegean">
	<div class="roll skill-check">
		<h3>{{ localize title }}</h3>

		<div>
			{{#if hubris}}
				Rolling <strong>Hubris</strong>
			{{/if}}

			{{#if standing}}
				Rolling <strong>Standing</strong>
			{{/if}}

			{{#unless (or hubris standing)}}
				Rolling <strong>{{ characteristic }} ({{ skill }})</strong>
			{{/unless}}

			{{#if (gt difficulty 0)}}
				with a Difficulty of {{ difficulty }}
			{{/if}}
		</div>

		<div class="alert warning">{{ dice.successes }} Success{{#if (gt dice.successes 1)}}es{{/if}}{{#if (eq dice.successes 0)}}es{{/if}}</div>

		{{#if dice.bonuses}}
			<div class="alert safe">{{ dice.bonuses }}x 10{{#if (gt dice.bonuses 1)}}s{{/if}}</div>
		{{/if}}

		{{#if (gte dice.successes 1)}}
			<div class="alert good">SUCCESS!</div>
		{{/if}}

		{{#if (gt damage 0)}}
			<div class="alert danger">{{ damage }} DAMAGE!</div>
		{{/if}}

		<div class="grid grid-cols-6">
			{{#each dice.result }}
				<span class="chip {{#if bonus}}good{{else}}{{#if success}}safe{{/if}}{{/if}}">{{ result }}</span>
			{{/each}}
		</div>
	</div>
</div>
