<form class="{{cssClass}}" autocomplete="off">
	<article class="armour-sheet">
		{{> systems/aegean/templates/item/partials/header-section.hbs }}

		<div class="tab-group">
			{{#> systems/aegean/templates/partials/tab-panel.hbs
				id="armour_equipment"
				label="aegean.system.Equipment"
				group="tab_armour"
				checked=true
			}}
				{{> systems/aegean/templates/item/partials/equipment.hbs }}
			{{/systems/aegean/templates/partials/tab-panel.hbs }}

			{{#> systems/aegean/templates/partials/tab-panel.hbs
				id="armour_armour"
				label="aegean.combat.Armour"
				group="tab_armour"
			}}
				<div class="grid column-panel">
					<div>
						{{> systems/aegean/templates/partials/select-input.hbs
							label=system.stats.Location.label
							value=system.stats.Location.value
							name="system.stats.Location.value"
							options=config.locations
						}}
					</div>
					<aside>
						{{> systems/aegean/templates/partials/box-input.hbs
							label=system.stats.Armour.label
							value=system.stats.Armour.value
							name="system.stats.Armour.value"
						}}
					</aside>
				</div>
			{{/systems/aegean/templates/partials/tab-panel.hbs}}

			{{#> systems/aegean/templates/partials/tab-panel.hbs
				id="armour_properties"
				label="aegean.equipment.Properties"
				group="tab_armour"
			}}
				{{> systems/aegean/templates/item/partials/properties.hbs }}
			{{/systems/aegean/templates/partials/tab-panel.hbs }}
		</div>
	</article>
</form>
