<form class="{{cssClass}}" autocomplete="off">
	<article class="career-sheet">
		{{> systems/aegean/templates/item/partials/header-section.hbs }}

		<div class="tab-group">
			<!-- skills -->
			{{#> systems/aegean/templates/partials/tab-panel.hbs
				id="career_stats"
				label="aegean.system.Skills"
			}}
				<div class="grid grid-cols-2">
					<div>
						{{> systems/aegean/templates/partials/multi-select-input.hbs
							label="aegean.system.Skills"
							selection=system.stats.Skills.value
							name="career_system_stats_Skills_value"
							options=config.skills
							limit=3
						}}
						<p class="note">{{ localize "aegean.ui.SkillSelectNote" }}</p>
					</div>
					<div>
						<!-- specialisations -->
						{{> systems/aegean/templates/partials/multi-text-input.hbs
							label="aegean.system.Specialisation"
							selection=system.stats.Specialisation.value
							name="career_system_stats_Specialisation_value"
							placeholder="aegean.ui.SpecialisationPlaceholder"
						}}
					</div>
				</div>
			{{/systems/aegean/templates/partials/tab-panel.hbs }}

			<!-- notes -->
			{{#> systems/aegean/templates/partials/tab-panel.hbs
				id="career_notes"
				label="aegean.ui.Notes"
			}}
				<div>
					<div class="grid grid-cols-2">
						{{> systems/aegean/templates/partials/form-input.hbs
							label="aegean.ui.TalentTrack1"
							name="system.notes.Track1.value"
							value=system.notes.Track1.value
						}}
						{{> systems/aegean/templates/partials/form-input.hbs
							label="aegean.ui.TalentTrack2"
							name="system.notes.Track2.value"
							value=system.notes.Track2.value
						}}
					</div>
					<div>
						<label class="label">{{ localize "aegean.ui.WorksWith" }}</label>
						{{editor system.notes.WorksWith.value target="system.notes.WorksWith.value" button=true owner=owner editable=editable}}
					</div>
					<div>
						<label class="label">{{ localize "aegean.ui.ChooseIf" }}</label>
						{{editor system.notes.ChooseIf.value target="system.notes.ChooseIf.value" button=true owner=owner editable=editable}}
					</div>
				</div>
			{{/systems/aegean/templates/partials/tab-panel.hbs }}

			<!-- talents -->
			{{#if talents.length}}
				{{#> systems/aegean/templates/partials/tab-panel.hbs
					id="career_talents"
					label="aegean.system.Talents"
					count=talents.length
				}}
					<div>
						<!-- Track 1 talents -->
						{{#if talents.track1}}
							<h3>{{ system.notes.Track1.value }}</h3>
							{{> systems/aegean/templates/item/partials/talents.hbs talents=talents.track1 }}
						{{/if}}

						<!-- Track 2 talents -->
						{{#if talents.track2}}
							<h3>{{ system.notes.Track2.value }}</h3>
							{{> systems/aegean/templates/item/partials/talents.hbs talents=talents.track2 }}
						{{/if}}

						<!-- Ungrouped talents -->
						{{#if talents.ungrouped}}
							<h3>{{ localize "aegean.ui.Ungrouped" }}</h3>
							{{> systems/aegean/templates/item/partials/talents.hbs talents=talents.ungrouped }}
						{{/if}}
					</div>
				{{/systems/aegean/templates/partials/tab-panel.hbs }}
			{{/if}}
		</div>
	</article>
</form>
