<form class="{{cssClass}}" autocomplete="off">
	<article class="cult-sheet">
		{{> systems/aegean/templates/item/partials/header-section.hbs }}

		<div class="tab-group">
			<!-- notes -->
			{{#> systems/aegean/templates/partials/tab-panel.hbs
				id="cult_notes"
				label="aegean.ui.Notes"
			}}
				<div>
					<div class="grid grid-cols-2">
						{{> systems/aegean/templates/partials/form-input.hbs
							label="aegean.ui.TalentTrack1"
							name="system.notes.Track1.value"
							value=system.notes.Track1.value
						}}
						{{> systems/aegean/templates/partials/form-input.hbs
							label="aegean.ui.TalentTrack2"
							name="system.notes.Track2.value"
							value=system.notes.Track2.value
						}}
					</div>
					<div>
						<label class="label">{{ localize "aegean.ui.Initiation" }}</label>
						{{editor system.notes.Initiation.value target="system.notes.Initiation.value" button=true owner=owner editable=editable}}
					</div>
				</div>
			{{/systems/aegean/templates/partials/tab-panel.hbs }}

			<!-- talents -->
			{{#if talents.length}}
				{{#> systems/aegean/templates/partials/tab-panel.hbs
					id="cult_talents"
					label="aegean.system.Talents"
					count=talents.length
				}}
					<div>
						<!-- Track 1 talents -->
						{{#if talents.track1}}
							<h3>{{ system.notes.Track1.value }}</h3>
							{{> systems/aegean/templates/item/partials/talents.hbs talents=talents.track1 }}
						{{/if}}

						<!-- Track 2 talents -->
						{{#if talents.track2}}
							<h3>{{ system.notes.Track2.value }}</h3>
							{{> systems/aegean/templates/item/partials/talents.hbs talents=talents.track2 }}
						{{/if}}

						<!-- Ungrouped talents -->
						{{#if talents.ungrouped}}
							<h3>{{ localize "aegean.ui.Ungrouped" }}</h3>
							{{> systems/aegean/templates/item/partials/talents.hbs talents=talents.ungrouped }}
						{{/if}}
					</div>
				{{/systems/aegean/templates/partials/tab-panel.hbs }}
			{{/if}}
		</div>
	</article>
</form>
