<form class="{{cssClass}}" autocomplete="off">
	<article class="equipment-sheet">
		{{> systems/aegean/templates/item/partials/header-section.hbs }}

		<div class="tab-group">
			{{#> systems/aegean/templates/partials/tab-panel.hbs
				id="equipment_equipment"
				label="aegean.system.Equipment"
				group="tab_equipment"
				checked=true
			}}
				{{> systems/aegean/templates/item/partials/equipment.hbs }}
			{{/systems/aegean/templates/partials/tab-panel.hbs }}

			{{#> systems/aegean/templates/partials/tab-panel.hbs
				id="equipment_properties"
				label="aegean.equipment.Properties"
				group="tab_equipment"
			}}
				{{> systems/aegean/templates/item/partials/properties.hbs }}
			{{/systems/aegean/templates/partials/tab-panel.hbs }}
		</div>
	</article>
</form>
